<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Apoteker</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('home')"></nav>

<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2 style="text-align: center" >Tambah Apoteker Baru</h2>
        <br>
        <form th:action="@{/apoteker/add}" th:object="${apoteker}" method="POST">
          Nama : <br>
          <input class="form-control" type="text" th:field="*{nama}"/>
          <br><br>

          Username : <br>
          <input class="form-control" type="text" th:field="*{username}"/>
          <br><br>

          Role : <br>
          <input class="form-control" type="text" th:field="*{role}"/>
          <br><br>

          Email : <br>
          <input class="form-control" type="text" th:field="*{email}"/>
          <br><br>

          Password : <br>
          <input class="form-control" type="password" th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z]).{8,}" title="Must contain at least one number and lowercase letter, and at least 8 or more characters" required/>
          <br><br>

          <button class="btn btn-success" type="submit" >Submit</button>
          <a class="btn btn-outline-info" href="/apoteker/viewall">Kembali</a>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
