<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Rumah Sehat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'/resep'})"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Buat Resep</h2>

                <br>
                <form th:action="@{/resep/create/} " th:object="${resep}" method="POST">

                    <input type="hidden" th:field="*{appointment.id}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Obat</th>
                                <th>Kuantity
                                    <p style="color: red">Jangan melebihi stok!</p>
                                </th>
                                <th>
                                    <button class="btn btn-primary" type="submit" name="addRowObat">Tambah Jenis Obat</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="isi, iterationStatus1 : *{listJumlah}">
                                <td>
                                    <div class="search_select_box">
                                        <select data-live-search="true" name="noObat" th:field="*{listJumlah[__${iterationStatus1.index}__].obat.idObat}"
                                                class="form-control">
                                            <div th:each="obatEx, iterationStatus3 : ${listObat}">
                                                <option th:value="${obatEx.idObat}" th:text="'Nama obat: '+${obatEx.namaObat} + ', Stok: '+ ${obatEx.stok}"></option>
                                            </div>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input required class="form-control" type="number" th:field="*{listJumlah[__${iterationStatus1.index}__].kuantitas}"/>
                                </td>
                                <td>
                                    <button th:value="${iterationStatus1.index}" class="btn btn-danger" type="submit"
                                            name="deleteRowObat">Hapus</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" type="submit" name="save">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.search_select_box select').selectpicker();
    })
</script>
</body>
</html>