<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Dokter</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" type="text/css" />
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('home')"></nav>

<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2 style="text-align: center" >Tambah Dokter Baru</h2>
        <br>
        <form th:action="@{/dokter/add}" th:object="${dokter}" method="POST">
          Nama : <br>
          <input class="form-control" type="text" th:field="*{nama}"/>
          <br><br>

          Username : <br>
          <input class="form-control" type="text" th:field="*{username}"/>
          <br><br>

          Role : <br>
          <input class="form-control" type="text" th:field="*{role}"/>
          <br><br>

          Email : <br>
          <input class="form-control" type="text" th:field="*{email}"/>
          <br><br>

          Password : <br>
          <input class="form-control" type="password" th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z]).{8,}" title="Must contain at least one number and lowercase letter, and at least 8 or more characters" required/>
          <br><br>

          Tarif : <br>
          <input class="form-control" type="number" th:field="*{tarif}"/>
          <br><br>

          <button class="btn btn-success" type="submit" >Submit</button>
          <a class="btn btn-outline-info" href="/dokter/viewall">Kembali</a>
        </form>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>

</body>
</html>
