<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring_security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title>Rumah Sehat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('home')"></nav>

    <div class="welcome">
        <h2 class="text-center text-black" th:text="'Hello '+${#httpServletRequest.remoteUser}+'!'"></h2>
    </div>

    <section class="services" id="services">

        <div class="box-container">

            <div class="box" sec:authorize="hasAuthority('Admin')">
                <img src="https://o.remove.bg/downloads/2956ed72-388e-4dda-bfb5-f779f8ce318c/doctor__1_-removebg-preview.png">
                <h3>Tambah Dokter</h3>
            </div>

            <div class="box" sec:authorize="hasAuthority('Admin')">
                <img src="https://o.remove.bg/downloads/2956ed72-388e-4dda-bfb5-f779f8ce318c/doctor__1_-removebg-preview.png">
                <h3>Lihat Daftar Dokter</h3>
            </div>

            <div class="box" sec:authorize="hasAuthority('Admin')">
                <img src="https://o.remove.bg/downloads/603e1c47-52be-4f0b-9b5f-b04d964f1098/pharmacy__2_-removebg-preview.png">
                <h3>Tambah Apoteker</h3>
            </div>

            <div class="box" sec:authorize="hasAuthority('Admin')">
                <img src="https://o.remove.bg/downloads/603e1c47-52be-4f0b-9b5f-b04d964f1098/pharmacy__2_-removebg-preview.png">
                <h3>Lihat Daftar Apoteker</h3>
            </div>

            <div class="box" sec:authorize="hasAuthority('Dokter')">
                <img src="https://o.remove.bg/downloads/3c8560b2-3f79-4d05-82b8-9faeae8ef951/mobile-transfer-removebg-preview.png">
                <h3>Lihat Jadwal Appointment</h3>
            </div>

            <div class="box" sec:authorize="hasAuthority('Apoteker')">
                <img src="https://o.remove.bg/downloads/2628f3d2-9b7a-4991-a7a9-ac4979f8397f/drug-removebg-preview.png">
                <h3>Lihat Resep Obat</h3>
            </div>

            <div class="box" sec:authorize="hasAuthority('Apoteker')">
                <img src="https://o.remove.bg/downloads/2628f3d2-9b7a-4991-a7a9-ac4979f8397f/drug-removebg-preview.png">
                <h3>Buat Resep Obat</h3>
            </div>

            <div class="box"
                 sec:authorize="hasAnyAuthority('Admin','Apoteker')"
                 onclick="location.href='/obat/'">
                <img src="https://o.remove.bg/downloads/2188d8d8-7fc0-46f8-bbe4-9b3309ea4a72/medicine__1_-removebg-preview.png">
                <h3>Lihat Daftar Obat</h3>
            </div>

        </div>
    </section>

     <!-- untuk home -->
     <section class="home" id="home">
        <div class="image">
            <img src="https://img.freepik.com/free-vector/hospital-service-concept-flat-illustration_1150-50287.jpg?w=740&t=st=1669052966~exp=1669053566~hmac=66c36cb1dfafabefa8780a4840f2b88fcc5ca57797abff673009874061d172e4" width="400" height="300" />
        </div>
        <div class="content">
            <h2>Stay Safe, Stay Healthy</h2>
            <p>Kesehatan Anda, Prioritas Kami.</p>

        </div>
    </section>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>