<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Barchart</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
          integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'/'})"></nav>
<div class="d-flex justify-content-center align-items-center">
  <div class="m-4">
<!--    <h2>Pilih Bulan dan Tahun</h2>-->
<!--    <br>-->
<!--    Bulan: <select class="form-control" id="bulan">-->
<!--    <option value="default">Pilih Bulan</option>-->
<!--    <option th:each="dokter : ${listDokter}"-->
<!--            th:value="${dokter.UUId}"-->
<!--            th:text="${dokter.nama}"></option>-->
<!--  </select>-->
<!--    <br>-->
<!--    Tahun: <select class="form-control" id="tahun">-->
<!--    <option value="default">Pilih Bulan</option>-->
<!--    <option th:each="dokter : ${listDokter}"-->
<!--            th:value="${dokter.UUId}"-->
<!--            th:text="${dokter.nama}"></option>-->
<!--  </select>-->

    <h2>Pilih Dokter</h2>
    <br>
    Dokter 1: <select class="form-control" id="dokter1">
    <option value="default">Pilih Dokter</option>
    <option th:each="dokter : ${listDokter}"
            th:value="${dokter.UUId}"
            th:text="${dokter.nama}"></option>
  </select>
    <br>
    Dokter 2: <select class="form-control" id="dokter2">
    <option value="default">Pilih Dokter</option>
    <option th:each="dokter : ${listDokter}"
            th:value="${dokter.UUId}"
            th:text="${dokter.nama}"></option>
  </select>
    <br>
    Dokter 3: <select class="form-control" id="dokter3">
    <option value="default">Pilih Dokter</option>
    <option th:each="dokter : ${listDokter}"
            th:value="${dokter.UUId}"
            th:text="${dokter.nama}"></option>
  </select>
    <br>
    Dokter 4: <select class="form-control" id="dokter4">
    <option value="default">Pilih Dokter</option>
    <option th:each="dokter : ${listDokter}"
            th:value="${dokter.UUId}"
            th:text="${dokter.nama}"></option>
  </select>
    <br>
    Dokter 5: <select class="form-control" id="dokter5">
    <option value="default">Pilih Dokter</option>
    <option th:each="dokter : ${listDokter}"
            th:value="${dokter.UUId}"
            th:text="${dokter.nama}"></option>
  </select>
    <br>
    <button class="btn btn-primary" onclick="getData(
            document.getElementById('dokter1').value,
        document.getElementById('dokter2').value,
        document.getElementById('dokter3').value,
        document.getElementById('dokter4').value,
        document.getElementById('dokter5').value,
        )">Lihat</button>
    <br><br>
    <h2>LineChart Pendapatan Dokter</h2>
    <br>
    <div class="chart-container" style="position: relative; height:20vh; width:80vw">
      <canvas id="pendapatanChart"></canvas>
    </div>
    <script th:inline="javascript">
      async function getData(uuid0, uuid1, uuid2, uuid3, uuid4) {
        var url = 'http://localhost:8080/api/dokter/getPendapatan';
        url = url + '/' + uuid0;
        url = url + '/' + uuid1;
        url = url + '/' + uuid2;
        url = url + '/' + uuid3;
        url = url + '/' + uuid4;
        let response = await fetch(url);
        let data = await response.json();
        console.log(data);
        length = data.length;
        dokter = [];
        pendapatan = [];
        for (i = 0; i < length; i++) {
          dokter.push(data[i][0]);
          pendapatan.push(data[i][1]);
        }
        let ctx = document.getElementById('pendapatanChart');

        new Chart (ctx, {
          type: 'line',
          data: {
            labels: dokter,
            datasets: [{
              label: 'Pendapatan',
              data: pendapatan,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      }
    </script>
  </div>
</div>

</body>
</html>