<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Rumah Sehat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'/resep'})"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Daftar Resep</h2>
                <br>
                <br><br>
                <div th:if="*{listResep.size() != 0}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Id Resep</th>
                            <th>Date and Time Created</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="resep, iterationStatus : ${listResep}"
                            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${resep.id}"></td>
                            <td class="col-md-3" th:text="${#temporals.format(resep.createdAt, 'dd MMMM yyyy HH:mm')}"></td>
                            <td class="text-center">
                                <a class="btn btn-outline-info" th:href="@{#}">See Details</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>

                <a class="btn btn-primary" style="width: 10rem;" th:href="@{/}">     Home     </a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>